<template name="login">
  <div class="row" style="margin-top:25px">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
      <div class="panel panel-default">
        <div class="panel-heading">
          Inicia sesi&oacute;n
        </div>
        <div class="panel-body">
          <form id="login" class="login">
            <div class="form-group">
              <label for="emailAddress">Email</label>
              <input type="email" name="emailAddress" class="form-control" placeholder="Email&hellip;">
            </div>
            <div class="form-group">
              <label for="password"><span class="pull-left">Contrase&ntilde;a</span> <a class="pull-right" href="{{pathFor 'recover-password'}}">&iquest;La has olvidado?</a></label>
              <input type="password" name="password" class="form-control" placeholder="Contrase&ntilde;a&hellip;">
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-success" value="Iniciar sesi&oacute;n">
            </div>
          </form>
          <p>&iquest;A&uacute;n no est&aacute;s registrado? <a href="{{pathFor 'signup'}}">Reg&iacute;strate</a>.</p>
        </div>
      </div>
    </div>
  </div>
</template>
