<template name="resetPassword">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class="page-header">Restablecer contrase&ntilde;a</h4>
      <form id="reset-password" class="reset-password">
        <p class="alert alert-info">Para restablecer tu contrase&ntilde;a, escribe una nueva y podr&aacute;s iniciar sesi&oacute;n con ella m&aacute;s tarde.</p>
        <div class="form-group">
          <label for="newPassword">Nueva contrase&ntilde;a</label>
          <input type="password" name="newPassword" class="form-control" placeholder="Nueva contrase&ntilde;a&hellip;">
        </div>
        <div class="form-group">
          <label for="password">Repite la nueva contrase&ntilde;a</label>
          <input type="password" name="repeatNewPassword" class="form-control" placeholder="Nueva contrase&ntilde;a&hellip;">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Restablecer contrase&ntilde;a e iniciar sesi&oacute;n">
        </div>
      </form>
    </div>
  </div>
</template>
