<template name="signup">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4">
      <h4 class="page-header">Reg&iacute;strate</h4>
      <form id="signup" class="signup">
        <p class="alert alert-info">Por ahora no he migrado los datos de Chevismo, as&iacute; que las cuentas de usuario de all&iacute; no funcionan aqu&iacute; (por ahora). Por otro lado, tranquilo: el registro pronto volver&aacute; a realizarse mediante /start.</p>
        <div class="form-group">
          <label for="emailAddress">Email</label>
          <input type="email" name="emailAddress" class="form-control" placeholder="Email&hellip;">
        </div>
        <div class="form-group">
          <label for="password">Contrase&ntilde;a</label>
          <input type="password" name="password" class="form-control" placeholder="Contrase&ntilde;a&hellip;">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-success" value="Completar">
        </div>
      </form>
      <p>&iquest;Ya est&aacute;s registrado? <a href="{{pathFor 'login'}}">Inicia sesi&oacute;n</a>.</p>
    </div>
  </div>
</template>
